{% extends "layout.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
</style>
<h2>{{ title }}</h2>
<h3>Using Stock Analysis To Get Reach The Moon</h3>

<p>This website is dedicated to using machine learning and stock<br>
 analysis to predict how stocks are going to shift as time goes on<br>
<br>
<ul>
                <li>Georgy Thayyil
                    <ol>
                        <li>Undergraduate Computer Science Student at TAMU with Business Minor</li>
                        <li>Class of 2023</li>
                        <li>Front and Backend development of this website</li>
                        <li><a href="https://www.linkedin.com/in/georgy-thayyil-829a26128/">LinkedIn</a></li>
                        
                    </ol>

                </li>
                
                <li>
                    Will Tomshe
                    <ol>    
                        <li>Undergraduate Aerospace Student at TAMU with Comp Sci Minor</li>
                        <li>Class of 2024</li>
                        <li>First time Hackathon Attender</li>
                        <li><a href="https://www.linkedin.com/in/william-tomshe-350a3118a/">LinkedIn</a></li>
                    </ol>
                
                </li>
            
                <li>
                    Nam Vo
                    <ol>    
                        <li>Undergraduate Mechanical Student at TAMU with a Comp Sci Minor</li>
                        <li>Class of 2024</li>
                        <li>First time Hackathon Attender</li>
                        <li><a href="https://www.linkedin.com/in/nam-vo-9855471b1/">LinkedIn</a></li>
                        

                    </ol>
                
                </li>
            </ul>
 
 </p>

{% endblock %}
