{% extends "layout.html" %}

{% block content %}
<style>
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
    }

    h3{
        text-align: center;
    }
</style>
<h2>{{ title }}</h2>
<h3>A group of College Students</h3>
<br />
<p>
    <strong>Georgy Thayyil: </strong><a href="mailto:thayyilgeorgy@gmail.com">thayyilgeorgy@gmail.com</a><br>
	<strong>Will Tomshe: </strong><a href="mailto:wtomshe@icloud.com">wtomshe@icloud.com</a><br>
    <strong>Nam Vo: </strong><a href="mailto:namqvo15@gmail.com">namqvo15@gmail.com</a><br>
</p>

{% endblock %}
